 body,
 html {
     position: relative;
     height: 100%;
     width: 100%;
 }

 .vertical-flex {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
 }

 .align-content-center {
     align-items: center;
 }

 .justify-content-center {
     justify-content: center;
 }

 .group-with-label {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 #loginbox {
     border-radius: 1em;
     background: #ececec;
     padding: 2em;
     margin-bottom: 5em;
 }

 label {
     font-weight: bold;
 }

 .message--error {
     border: 1px solid;
     padding: 4px 8px 4px 8px;
     background-repeat: no-repeat;
     background-position: 10px center;
     color: #c00711;
     background-color: #FFBABA;
     margin: 16px 0px;
 }

  .message--success {
      border: 1px solid;
      padding: 4px 8px 4px 8px;
      background-repeat: no-repeat;
      background-position: 10px center;
      color: #11572f;
      background-color: #72ffad;
      margin: 16px 0px;
  }
