.all-width{
    width: 100%;
  }
 
 .vertical-flex{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
 }
 
 .align-content-center{
   align-items: center;
 }
 
 .justify-content-center{
   justify-content: center;
 }
 
 
 .big {
   height: 50%;
 }
 
 
 .margins.big{
   margin: 0.5em;
 }
 
 .small{
   width: 30%;
 }
 
 .native-hidden { /* Hide the basic appearence, replace it by content */
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
 }
 
 
 .contributor-reserved{
   display: inline;
 }
 
 .regular-users-only{
   display: inline;
 }
 
 .roleChooser[type="checkbox"]:checked ~ .contributor-reserved, .roleChooser[type="checkbox"]:checked ~ * > .contributor-reserved{
   display: none;
 }
 
 .roleChooser[type="checkbox"]:not(:checked) ~ .regular-users-only, .roleChooser[type="checkbox"]:not(:checked) ~ * > .regular-users-only{
   display: none;
 }
 
 
 
 
 .italic{
   font-style: italic;
 }
 
 .button{
   margin-top: 1em;
   border-radius: 0.3em;
   background-color: #6F93DF;
   border: none;
   color: white;
   padding: 0.3em 1em 0.3em 1em;
   text-align: center;
   text-decoration: none;
 }
 
 .button:hover {
   box-shadow: 0 0.75em 0.6em 0 rgba(0,0,0,0.24),0 1.06em 3.125em 0 rgba(0,0,0,0.19);
 
 }
 
 .box{
   border-radius: 0.3em;
   border: 0.2em solid #e7e7e7;
   width: 75%;
   padding: 1em;
 }
 
 .margin-top{
   margin-top: 2em;
 }

 .margin-bottom{
  margin-bottom: 2em;
}

.text-align-center{
  text-align: center;
}

.message-input{
  width: 75%;
  height: 5em;
  resize:vertical;
  max-height:30em;;
}